<nav class="navbar">
    <a href="/"><img class="navbar_img" src="/imgs/gman_shield.png"/></a>
    <a class="nav-link" href="/">Home</a>
    <a class="nav-link" href="/detail">G-Man's Detail Page</a>
    <a class="nav-link" href="/family">G-Man's Family Detail Page</a>
    <a class="nav-link" href="/form">Contact Form</a>
    <a class="nav-link" href="/guestbook">Guestbook</a>
    <a class="nav-link" href="/api">API</a>
    <a class="nav-link" href="https://gordon-allen.github.io">G-Man's Portfolio</a>
</nav>
<br><br><br>